.estilo-de-cabeçalho{
    background-color: rgb(48, 45, 45);
    border: 1px solid rgb(48, 44, 44);
    color: white;
    margin: -7px -7px 0px -7px;
    padding-left: 7px;
}

#margem-descricao{
    margin-top: -20px;
}

#margem-superior-rodape{
    margin-top: 500px;
}

.estilo-rodape{
    background-color: rgb(48, 45, 45);
    border: 1px solid rgb(48, 44, 44);
    color: white;
    margin: 0px -7px 10px -7px;
    padding: 10px 0px 10px 500px;
}

.centralizar {
    margin-left: 460px;
    
}

.botoes {
    color: black;
    display: block;
    margin: 5px 0px 0px -7px;
    padding-left: 7px;
}

#margem-lista{
    margin-left: -20px;
}

.botoes-dois {
    color: black;
    display: block;
    margin-bottom: -5px;
}

.estilo-tabela{
    background-color: white;
    color: black;
    margin: 5px 0px 0px 0px;
}

.espacamento{
    padding-right: 150px;
    padding-bottom: 10px;
    background-color: darkgray;
}

#color01{
    background-color: darkgray;
    padding-bottom: 10px;
}

.color02{
    background-color: snow;
}
